
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= name %> | Codeable</title>
    <link rel="icon" href="https://able.co/favicon-16.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/band.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 member">
            <img
              class="user-img"
              src="https://avatars1.githubusercontent.com/u/28131369?s=400&u=f8d4309d65e63426a0e904c1fed5e0750abe3576&v=4"
              alt="photo"
            />
            <h1 class="person"><%= name %></h1>
            <p class="team"><a href="hi.html"><%= team %></a></p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="subtitle">Introduction</h4>
            <p><%= introduction %></p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright">
            Copyright © Codeable Creado con 💙 por -
            <a href="#">Team Champions</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
