<!doctype html>
<html lang="en">
	<head>

		<title>Web Developer and Designer | Electerious</title>

		<meta charset="utf-8">
		<meta name="description" content="Web developer and designer from Frankfurt with a focus on beautiful interfaces and web-applications.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@electerious">

		<!-- Open Graph Protocol -->
		<meta property="og:type" content="website">

		<!-- Open Graph protocol and Twitter Cards -->
		<meta property="og:title" content="Web Developer and Designer | Electerious">
		<meta property="og:description" content="Web developer and designer from Frankfurt with a focus on beautiful interfaces and web-applications.">
		<meta property="og:image" content="https://electerious.com/assets/images/og.jpg">

		<!-- CSS -->
		
			<link rel="stylesheet" href="assets/styles/main.css">
		


		<!-- Preload -->
		<link rel="preload" href="assets/fonts/rubik-regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="assets/fonts/space-mono-regular.woff2" as="font" type="font/woff2" crossorigin>

		<%# <!-- JSON-LD -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "Create",
				"url": "https://electerious.com/",
				"logo": "https://electerious.com/assets/images/logo.png",
				"email": "ry.yrupailla@gmail.com",
				"founder": {
					"@type": "Person",
					"name": "Tobias Reich"
				},
				"sameAs": [
					"https://instagram.com/electerious",
					"https://twitter.com/electerious",
					"https://github.com/electerious",
					"https://dribbble.com/electerious"
				]
			}
		</script> %>

	</head>
	<body>

		<!-- Cursor -->
		<div class="cursor"></div>

<header class="header">
	<canvas class="canvas"></canvas>
	<div class="wrap">

		<div class="header__inner">

			<a class="header__logo nolink" href="/">create.</a>

			<h1 class="header__heading heading">
				<span class="highlight" style="--nth: 1">
					<span class="highlight__inner">Web Developer</span>
				</span> and<br>
				<span class="highlight" style="--nth: 2">
					<span class="highlight__inner">Engineer</span>
				</span> from Lima
			</h1>

			<p class="header__text text">				
				
				<span class="header__letter color-dimmed" style="--delay: 0.9s">
				Hi there! My name is Ricardo Santiago. I'm a a full-stack software developer
				with experience in React and Ruby on Rails. I'm also a Mechatronics engineer student,
				I like hardware too!  </span>
			</p>

			<nav class="header__nav nav">

			<a class="link spacing-small" href="https://github.com/TeslaRobotics">
			<span class="link__icon link__icon--left link__icon--guy">👨‍💻</span>
			<span class="link__text">View my projects</span>
			</a>

			</nav>

		</div>

	</div>
</header>

<div id="content" class="content">

	
		
		<div class="item">
	<div class="wrap">

		<div class="item__inner">
			<div>

				<h2 class="item__heading heading">hiworld</h2>

			</div>
			<div>

				<p class="item__text text color-dimmed">hiworld is my first gem</p>

				<a class="link " href="https://rubygems.org/gems/hiworld">
	
		<span class="link__icon link__icon--right link__icon--point-right">👉</span>
	
	<span class="link__text">Visit hiworld</span>
</a>

			</div>
		</div>

	</div>
</div>
	
		
		<div class="item">
	<div class="wrap">

		<div class="item__inner">
			<div>

				<h2 class="item__heading heading">Simple Web Framework</h2>

			</div>
			<div>

				<p class="item__text text color-dimmed">A web framework for lazy people</p>

				<a class="link " href="https://github.com/yummta/codeable-exercises/tree/pseudo-framework/week-3/extended-project/champion-performance">
	
		<span class="link__icon link__icon--right link__icon--point-right">👉</span>
	
	<span class="link__text">Visit Simple Web Framework</span>
</a>

			</div>
		</div>

	</div>
</div>
	


			</div>
		</div>

	</div>
</div>
	


	<!-- Footer -->
	<footer class="footer">
	<div class="wrap">

		<div class="footer__inner">
			<div class="footer__text">

				<p class="text color-dimmed">Made with love for design.</p>

			</div>
			<div class="footer__links">


			</div>
			<div class="footer__links">

				<a class="link spacing-small" href="https://twitter.com/STG10101">
	
	<span class="link__text">Twitter</span>
</a>

				<a class="link spacing-small" href="https://github.com/TeslaRobotics">
	
	<span class="link__text">GitHub</span>
</a>


			</div>
		</div>

	</div>
</footer>

</div>

	</body>
</html>