
body{
    background-image: url("https://cdn.20m.es/img2/recortes/2019/03/11/904924-600-338.jpg?v=20190311182014");
    background-size: cover ;
    background-repeat: no-repeat;
    min-height: 100vh;
}