<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WELCOME!!</title>
  </head>
  <body>
    <h1>Welcome to the Codeable website!</h1>
    <h2>This is our team:</h2>
    <ul>
      <li><a href="/?member=diegoc">Diego Cuevas</a></li>
      <li><a href="/?member=angie">Angie Gonzales</a></li>
      <li><a href="/?member=marieth">Marieth Pérez</a></li>
      <li><a href="/?member=diegot">Diego Torres</a></li>
      <li><a href="/?member=valeria">Valeria Vassallo</a></li>
    </ul>
  </body>
</html>
