<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INFO</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Ruta no encontrada</h1>
=======
    <h1>ERROR 404 PATH NOT FOUND</h1>
>>>>>>> 9a39b0ab473e1ea01f8a55f47d977e0a2df85edc
  </body>
</html>
