<!DOCTYPE html>
<html lang="en">
    <head>
    <title>INFO</title>
    </head>
    <body>
<<<<<<< HEAD
    <h1>Nombre no encontrado</h1>
    </body>
</html>
=======
    <h1>ERROR 404 USER NOT FOUND</h1>
    </body>
</html>
>>>>>>> 9a39b0ab473e1ea01f8a55f47d977e0a2df85edc
