<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>
      Production Line Industrial Category Bootstrap Responsive Web Template |
      About :: W3layouts
    </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Production Line Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script>
      addEventListener(
        "load",
        function() {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />
    <!-- //Fonts -->
  </head>

  <body>
    <!-- mian-content -->
    <div class="main-banner inner" id="home">
      <!-- header -->
      <header class="header">
        <div class="container-fluid px-lg-5">
          <!-- nav -->
          <nav class="py-4">
            <div id="logo">
              <h1><a href="index.html">Nowhere</a></h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
            </ul>
          </nav>
          <!-- //nav -->
        </div>
      </header>
      <!-- //header -->
    </div>
    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About Us</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- /hand-crafted -->
    <section class="hand-crafted bg-light py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="row banner-grids">
          <div class="col-lg-6 banner-image">
            <div class="effect-w3">
              <img src="images/img.png" alt="" class="img-fluid image1" />
            </div>
          </div>
          <div class="col-lg-6 last-img pl-lg-5 p-3">
            <h3 class="tittle mb-4">
              About us
            </h3>
            <p class="mb-4">
              Welcome to Nowhere project! We are part of a development project
              and this webpage is the result.
            </p>
            <p class="mb-4">
              Codeable is a Full stack web development program located in Lima,
              Peru. In Codeable we build awesome stuff using Ruby, React and
              more. Codeable represents for us the best option for learning code
              and an excellent way to connect with awesome people and build your
              professional future. If you love solving problems and you want to
              become a professional software engineer, we invite you to apply to
              the next Codeable cycle.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //hand-crafted -->

    <!-- copyright -->
    <div class="cpy-right text-center py-3">
      <p class="">
        © 2019 Production Line. All rights reserved | Design by
        <a href="http://w3layouts.com"> W3layouts.</a>
      </p>
    </div>
    <!-- //copyright -->
  </body>
</html>
