<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>
      Production Line Industrial Category Bootstrap Responsive Web Template |
      About :: W3layouts
    </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Production Line Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script>
      addEventListener(
        "load",
        function() {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />
    <!-- //Fonts -->
  </head>

  <body>
    <!-- mian-content -->
    <div class="main-banner inner" id="home">
      <!-- header -->
      <header class="header">
        <div class="container-fluid px-lg-5">
          <!-- nav -->
          <nav class="py-4">
            <div id="logo">
              <h1><a href="index.html">P - Line</a></h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="about.html">About</a></li>
              <li>
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle"
                  >Dropdown
                  <span class="fa fa-angle-down" aria-hidden="true"></span>
                </label>
                <a href="#"
                  >Dropdown
                  <span class="fa fa-angle-down" aria-hidden="true"></span
                ></a>
                <input type="checkbox" id="drop-2" />
                <ul>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="services.html">Services</a></li>
                </ul>
              </li>

              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          <!-- //nav -->
        </div>
      </header>
      <!-- //header -->
    </div>
    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About Us</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- /hand-crafted -->
    <section class="hand-crafted bg-light py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="row banner-grids">
          <div class="col-lg-6 banner-image">
            <div class="effect-w3">
              <img src="images/img.png" alt="" class="img-fluid image1" />
            </div>
          </div>
          <div class="col-lg-6 last-img pl-lg-5 p-3">
            <h3 class="tittle mb-4">
              Looking An Adequate Solution For Your Company?
            </h3>
            <p class="mb-4">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus
              turpis sodales quis. Integer sit amet mattis quam, sit amet
              ultricies velit. Praesent ullamcorper dui turpis.
            </p>
            <p class="mb-4">
              Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer
              sit amet mattis quam, sit amet ultricies velit. Praesent
              ullamcorper dui turpis.
            </p>
            <div class="ban-buttons">
              <a href="services.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //hand-crafted -->

    <!--footer -->
    <footer>
      <section class="footer footer_1its py-5">
        <div class="container py-md-4">
          <div class="row footer-top mb-md-5 mb-4">
            <div class="col-lg-4 col-md-6 footer-grid_section_1its">
              <div class="footer-title-w3ls">
                <h3>Address</h3>
              </div>
              <div class="footer-text">
                <p>
                  Address : 1234 lock, Charlotte, North Carolina, United States
                </p>
                <p>Phone : +12 534894364</p>
                <p>
                  Email : <a href="mailto:info@example.com">info@example.com</a>
                </p>
                <p>Fax : +12 534894364</p>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its"
            >
              <div class="footer-title-w3ls">
                <h3>Catch On</h3>
              </div>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volup</p>
              <ul class="social_section_1info">
                <li class="mb-2 facebook">
                  <a href="#"
                    ><span class="fa fa-facebook mr-1"></span>facebook</a
                  >
                </li>
                <li class="mb-2 twitter">
                  <a href="#"
                    ><span class="fa fa-twitter mr-1"></span>twitter</a
                  >
                </li>
                <li class="google">
                  <a href="#"
                    ><span class="fa fa-google-plus mr-1"></span>google</a
                  >
                </li>
                <li class="linkedin">
                  <a href="#"
                    ><span class="fa fa-linkedin mr-1"></span>linkedin</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its"
            >
              <div class="footer-title-w3ls">
                <h3>Newsletter</h3>
              </div>
              <div class="footer-text">
                <p>
                  By subscribing to our mailing list you will always get latest
                  news and updates from us.
                </p>
                <form action="#" method="post">
                  <input
                    type="email"
                    name="Email"
                    placeholder="Enter your email..."
                    required=""
                  />
                  <button class="btn1 btn">
                    <span class="fa fa-paper-plane-o" aria-hidden="true"></span>
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

          <div class="move-top-w3layouts text-center mt-3">
            <a href="#home" class="move-top">
              <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span
            ></a>
          </div>
        </div>
      </section>
    </footer>
    <!-- //footer -->

    <!-- copyright -->
    <div class="cpy-right text-center py-3">
      <p class="">
        © 2019 Production Line. All rights reserved | Design by
        <a href="http://w3layouts.com"> W3layouts.</a>
      </p>
    </div>
    <!-- //copyright -->
  </body>
</html>
