<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />
  </head>
  <body class="menber">
    <header class="header">
      <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
          <div id="logo">
            <h1><a href="/">Nowhere</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />
          <ul class="menu mt-2">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </header>
    <div class="container">
      <div class="row">
        <% TEAM.each do |key,member| %>
        <div class="col-md-3 pt-5 team-left text-center">
          <a href="#" class="box-image">
            <img src=<%= member[:image] %> class="img-fluid mb-5" alt="" />
          </a>
          <h4><%= member[:name] %></h4>
        </div>
        <% end %>
      </div>
    </div>
    <!-- //team -->
  </body>
</html>
