<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Paulo Tijero</h1>
						<p>Simpatico, alegre, carismatico, buena onda, aunque aburrido contando chistes.</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="/intro#intro">Intro</a></li>
						<li><a href="/work#work">Work</a></li>
						<li><a href="/about#about">About</a></li>
						<li><a href="/blog#blog">Blog</a></li>
						<li><a href="/contact#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- About -->
				<article id="about">
					<h2 class="major">Sobre mi</h2>
					<p>Bueno, como ya te conte soy pesimo contando chistes, quizas porque los cuento muy lento, mido 1.70cm, y lo importante es que tengo buena salud</p>
					<span class="image main"><img src="http://www.ballenapedia.com/wp-content/uploads/2012/06/cachalote1.jpg" alt="" /></span>
					<p>Me encantan la magnificencia de las ballenas, algun dia buceare a lado de una!! lo prometo!!, tambien me gustan las tortugas y los peces en su habitad natural, a decir verdad, me encanta el mar y todo ese misterio que envuelve</p>
					<p>Bueno eso es todo por ahora.</p>
				</article>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://github.com/paulotijero" target="_blank" >PAULO TIJERO</a>.</p>
			</footer>

	</div>
