<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Paulo Tijero</h1>
						<p>Simpatico, alegre, carismatico, buena onda, aunque aburrido contando chistes.</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="/intro#intro">Intro</a></li>
						<li><a href="/work#work">Work</a></li>
						<li><a href="/about#about">About</a></li>
            <li><a href="/blog#blog">Blog</a></li>
						<li><a href="/contact#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Blog -->
				<article id="blog">
					<h2 class="major">Blog</h2>
					<p>Pagina en construccion</p>
				</article>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://github.com/paulotijero" target="_blank" >PAULO TIJERO</a>.</p>
			</footer>

	</div>
