<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Paulo Tijero</h1>
						<p>Simpatico, alegre, carismatico, buena onda, aunque aburrido contando chistes.</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="/intro#intro">Intro</a></li>
						<li><a href="/work#work">Work</a></li>
						<li><a href="/about#about">About</a></li>
						<li><a href="/contact#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<article id="intro" class="active">
						<h2 class="major">Introccion</h2>
						<span class="image main"><img src="/images/pic01.jpg" alt="" /></span>
						<p>Hola, el de la foto soy yo, y escribo esto desde <a href="https://codeable.pe/" target="_blank">codeable</a> un gran lugar, enserio me encanta!</p>
						<p>Lo que tienes que saber a modo de introduccion es que soy un tipo muy comun, asi que te invito a no rendirte jamas!, a empezar eso que tienes pendiente, y si tienes miedo, solo hazlo, con miedo claro, PERO HAZLO! </p>
					</article>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://github.com/paulotijero">HTML5 UP</a>.</p>
			</footer>

	</div>