<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<span class="icon fa-diamond"></span>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Paulo Tijero</h1>
						<p>Simpatico, alegre, carismatico, buena onda, aunque aburrido contando chistes.</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="/intro#intro">Intro</a></li>
						<li><a href="/work#work">Work</a></li>
						<li><a href="/about#about">About</a></li>
						<li><a href="/blog#blog">Blog</a></li>
						<li><a href="/contact#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Work -->
					<article id="work">
						<h2 class="major">Trabajos</h2>
						<h4>Codeable, Actualmente</h4>
						<span class="image main"><img src="/images/codeable.png" alt="" /></span>
						<p>Me encuentro participando del bootcamp tecnologico <a href="https://codeable.pe/" target="_blank">Codeable</a>, si bien es cierto me espera un futuro incierto, pero muy prometedor.</p>
						<h4>InspectorQ, 2015 - 2018</h4>
						<span class="image main"><img src="http://www.inspectorq.net/index/img/banner3.jpg" alt="" /></span>
						<p>Ceo y Fundador en <a href="http://inspectorq.net/" target="_blank">InspectorQ</a>, una red social especializada de docentes, en el cual pueden crear, compartir y mejorar sus preguntas y examenes.</p>
						<h4>Web Out, 2016 - 2018</h4>
						<span class="image main"><img src="/images/web-out.png" alt="" /></span>
						<p>Freelancer en <a href="https://www.web-out.com/" target="_blank">Web Out</a>, UX/UI Designer.</p>
						<h4>LWP Developers, 2017 - 2018</h4>
						<span class="image main"><img src="/images/lwp.png" alt="" /></span>
						<p>Junior developer en <a href="http://bidsoft.net/" target="_blank">LWP Developers</a>.</p>
					</article>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://github.com/paulotijero">PAULO TIJERO</a>.</p>
			</footer>

	</div>