* {
  margin: 0px auto;
}

/* Code to eliminate border of <a> anchors */
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
/* end */
.boxed {
  border: 2px double black;
  background-color: white;
  padding: 30px;
  margin: 0 60px;
}

.limit {
  width: 80%;
  margin: 0 auto;
}

.cleanLink {
  text-decoration: none;
}

.codeable1 {
  font-family: "Roboto slab", serif;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 100;
}

.codeable2 {
  color: #999b9e;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background-color: dimgrey;
}

header {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: slategrey;
}

.name {
  text-align: center;
  color: white;
  padding: 20px 0;
  font-size: 5em;
  line-height: 0.8em;
}

main {
  background-color: black;
  padding: 40px 0;
  border-top: 2px double white;
  border-bottom: 2px double white;
  text-align: center;
}

main img {
  width: 200px;
  height: 200px;
}

h1 {
  /* text-align: center; */
  color: white;
  line-height: 2em;
}

h1:hover {
  transform: scale(1.05);
  color: cornflowerblue;
}

.container {
  background-color: #80cccc;
  padding: 50px 15px;
}

.intro {
  line-height: 1.5em;
  margin-bottom: 50px;
}

.important {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: 10px;
}

.errormessage {
  font-size: 2.5em;
  text-align: center;
}
h2.errormessage {
  padding: 30px;
}

.questionList {
  list-style: none;
  padding: 0;
}

.question {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  line-height: 1.2em;
}

.answer {
  margin: 0 20px;
  padding-bottom: 20px;
  line-height: 1.5em;
}

.groupMembers {
  list-style: none;
  text-align: center;
  padding: 0;
}

.groupMembers li {
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  margin: 10px;
}

.groupMembers p {
  margin: 0;
  padding: 4px;
}

.groupMembers img {
  width: 200px;
  height: 200px;
}

.memberTitle {
  font-size: 1.2em;
  background-color: slategray;
  color: white;
}

.memberName {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 400px) {
  .name {
    font-size: 3em;
  }
  .boxed {
    margin: 0;
  }
  .limit {
    width: 100%;
  }
}