
<center>
    <b><font size="7">Valeria Vassallo</font></b>
    <p>
    <a href="https://valevstech.tumblr.com"><img src='https://image.flaticon.com/icons/png/512/49/49323.png' width="75" height="75"/></a>
    <a href="https://twitter.com/valevstech"><img src='https://image.flaticon.com/icons/png/512/23/23931.png' width="75" height="75"/></a>
    <a href="https://www.instagram.com/valevassallo1/"><img src='https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Instagram-Logo.png?resize=300%2C300' width="75" height="75"/></a>
    <a href="https://github.com/valevassallo/"><img src='https://image.flaticon.com/icons/svg/25/25231.svg' width="75" height="75"/></a>
    <a href="https://dev.to/valevstech"><img src='https://static1.squarespace.com/static/598bdedff9a61ea2b0da2866/t/59f794a427ef2d4ad323e4e5/1509397669374/dev+logo.jpg?format=300w' width="75" height="75"/></a>
    </p>
    <p><i><a href="/about-me">ABOUT ME</a></i></p>
    <p><i><a href="/goals">MY GOALS</a></i></p>
    <p><i><a href="/contact">CONTACT ME</a></i></p>
</center>

