<center><h1>INFO ABOUT ME</h1></center>
<ul>
    <li>I’m 18</li>
    <li>I’m Peruvian</li>
    <li>I’m attending a coding bootcamp here in Peru called “Codeable”</li>
    <li>Apart from coding and software developing, I have way too many interests :D music, dancing, sports, books, languages, etc…</li>
    <li>I can speak Spanish (my mother tongue), English, German and a decent level of French. I also know the basics of Korean and Quechua (a native Peruvian language). In addition to that, I’d love to learn Chinese and to keep improving my Korean!</li>
    <li>I love making friends</li>
 </ul>