<center><h1>MY GOALS</h1></center>

In terms of programming/software development, I've set myself some goals. Those consist of, first of all, becoming a full-stack software developer (I'm actually on my way there thanks to the bootcamp). I'd also like to make people's lives easier with creations of mine. I want to be someone big or, at least, to be part of something incredible (just like a friend once said). I'm sure that with hard work I'll achieve everything I have planned for the future :)