<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WELCOME!!</title>
  </head>
  <body style="font-family:Comic Sans MS">
    <h1 style="font-family:Comic Sans MS"><font color="darkslateblue">Welcome to the Codeable website!</font></h1>
    <h2><i>This is our team:</i></h2>
     <form>
      <input style="width: 240px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #FF0000; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Diego Cuevas" onclick="window.location.href='/?member=diegoc'" />
      <input style="width: 240px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #FFB6C1; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Angie Gonzales" onclick="window.location.href='/?member=angie'" />
      <input style="width: 240px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #FF00FF; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Marieth Perez" onclick="window.location.href='/?member=marieth'" />
      <input style="width: 240px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #32CD32; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Diego Torres" onclick="window.location.href='/?member=diegot'" />
      <input style="width: 240px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #73FFA7; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Valeria Vassallo" onclick="window.location.href='/?member=valeria'" />
    </form> 
    <p><center><img src="https://media.giphy.com/media/l4FsCR2hFJnGh18IM/giphy.gif"></center></p>
  </body>
</html>
