<h1>Hello I am Marieth!</h1>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Marieth</title>
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" href="/static/css/app.css">
	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Typekit code here -->
	<script src="//use.typekit.net/oag8qun.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<script src="//unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>

</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--Start Google Analytics -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-51618306-1', 'benadam.me');
	ga('send', 'pageview');
</script>
<!-- End Google Analytics -->



<!-- Header -->
<header>
  <div class="outer-container">
    <nav>
      <a class="site-logo transition-link" href="/">
       <span class='logo-text'>BA</span>
      </a>
      <ul class="nav-right">
        <li class="list-item"><a class="transition-link" href="/">Home</a></li>
        <li class="list-item"><a class="transition-link" href="/project-list.html">Projects</a></li>
        <li class="list-item"><a class="transition-link" href="/blog.html">Blog</a></li>
        <li class="list-item" id="social-click"><a  href="javascript:void(0)">Social</a></li>
        <li class="list-item social-icon"><a  href="https://medium.com/@benadam11" target ="_blank"><i class="fa fa-medium"></i></a></li>
        <li class="list-item social-icon"><a  href="https://twitter.com/benadam11" target ="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="list-item social-icon"><a  href="https://dribbble.com/benadam11" target ="_blank"><i class="fa fa-dribbble"></i></a></li>
        <li class="list-item social-icon"><a  href="https://github.com/benadam11" target ="_blank"><i class="fa fa-github"></i></a></li>
      </ul>
      
      <div class="mobile-nav">
        <a id="navigation-target" class="navigation-target"></a>
        <span class="navigation-toggle">
          <span class="navigation-toggle-icon"></span>
          <span class="navigation-toggle-label">Menu</span>
        </span> 
      </div>

    </nav>

    <div class="dropdown-menu">
      <ul class="mobile-menu no-bullet">
        <li><a class="transition-link" href="/project-list.html">Projects</a></li>
        <li><a class="transition-link" href="/blog.html">Blog</a></li>
        <li><a  href="https://medium.com/@benadam11" target ="_blank"><i class="fa fa-medium"></i> - Medium</a></li>
        <li><a  href="https://twitter.com/benadam11" target ="_blank"><i class="fa fa-twitter"></i> - Twitter </a></li>
        <li><a  href="https://dribbble.com/benadam11" target ="_blank"><i class="fa fa-dribbble"></i> - Dribbble </a></li>
        <li><a  href="https://github.com/benadam11" target ="_blank"> <i class="fa fa-github"></i> - Github</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- End Header -->

<div class="content">
	

<section class="inner-container hero">
  <h1>
    Hello, my name is Ben. I am a Designer / Front End Developer living in
    Tempe, AZ.
  </h1>
</section>

<section class="outer-container space-bottom">
  <img src="/static/images/hero.jpg" alt="Ben Hero" />
</section>

<section class="inner-container space-bottom">
  <h3>About:</h3>

  <p>
    I currently am working as a UX Engineer at
    <a href="http://godaddy.com" target="_blank" class="yellow">GoDaddy</a>,
    which is where my passion for design and development converge. See my
    previous work history on
    <a
      href="https://www.linkedin.com/in/benjaminadam/"
      class="yellow"
      target="_blank"
      >LinkedIn</a
    >. Outside of work I have a beautiful wife and cat (obviously). I am also
    working on a few side projects including
    <a href="https://investmentcalculator.io/" target="_blank" class="yellow"
      >Investment Calculator</a
    >
    (a simple tool to teach people about investing) and
    <a href="https://dayofthedead.holiday/" target="_blank" class="yellow">
      dayofthedead.holiday</a
    >. Currently I am not accepting freelance work, but I'd love to get coffee
    and get to know you, so don’t hesitate to get in touch.
  </p>

  <h3>Services:</h3>

  <h4>UI/UX Design</h4>

  <p>
    UI/UX involves planning and iterating a site's structure and layout. Once
    the proper information architecture is in place, I design the visual layer
    to create a beautiful user experience.
  </p>

  <h4>Front End Development</h4>

  <p>
    Front End Development is building out the visual components of a website.
    Using HTML, CSS , and Javascript, I build fast, interactive websites. This
    also may include integrating a CMS.
  </p>

  <h4>Brand & Collateral Design</h4>

  <p>
    While most of my attention is on interactive projects, I do branding and
    collateral from time to time. This includes logo design, business cards, and
    other printed materials.
  </p>
</section>

<section class="cta-section border">
  <div class="inner-container">
    <h1>Interested in doing a project together?</h1>
    <a href="mailto:benjamin.mark.adam@gmail.com" class="cta-button">Email Me <span class="arrow-right">&#8594;</span></a>
  </div>
</section> 
</div>

<!--Footer Partial-->

<footer class="border">
  <p>Copyright Ben Adam <span id="footer-date"></span></p>
</footer>



</body>
</html>

